@import "partials/mixins";
@import "partials/params";

.contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 300px;
    
    &__head{
        width: 445px;
        height: 160px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    &__title{
        font-size: 36px;
        margin-bottom: 50px;

    }
    
    &__text{
        font-size: 14px;
    }        
       
    

    &__form{        
        width: 540px;     
    } 
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;

    &__input {
        flex-basis: calc(50% - 10px);
        height: 60px;
        padding: 30px;
        border-radius: 6px;
        margin-bottom: 30px;
        border: 1px solid #333 ;
        box-sizing: border-box;

                
        &--tel {
            flex-basis: 100%;
        }
    }

    &__button {
        margin-top: 30px;
       
        width: 160px;
        height: 50px;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: $rose;
        text-transform: uppercase;
        cursor: pointer;
        color: #fff;
        

        &:hover{
            color: rgb(34, 28, 88);
            border-color: rgb(34, 28, 88);
            transition:  0.2s linear;
        }}
       
}

.contact-form-select {
    &__selection {
        width: 540px;
        height: 60px !important;   
        padding: 15px 25px;     
        border-radius: 6px;

        & .select2{  
            &__selection{
                &--single{
                    background-color: aqua;  
                }
            }
        }

        .select2-selection__arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px !important;
            height: 60px !important;
        }
    }

    &__dropdown {
        background-color:#fff;
        color: #000;
        .select2-results {
            &__option {
                &--highlighted {
                    background-color:$rose !important;
                    
                }
            
            }
        }
    }
}