@import "partials/mixins";

html,body{
@include clear;
width: 100%;
}

h1, h2, h3, h4, h5, h6{
@include clear; 
}

a{
    text-decoration: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    
}