@media screen and (max-width: 1023px) {
    .nav {
        &__wrapper {
            position: fixed;            
            top: 0;
            right: 0;
            transform: translateX(100%);
            flex-direction: column-reverse;
            align-items: flex-start;
            width: 100%;
            max-width: 320px;
            padding: 20px;
            background-color: rgb(252, 83, 50);
            transition: transform 0.2s linear;

            &--is-active {
                transform: translateX(0);
            }
        }

        &__menu {
            flex-direction: column;
            gap: 5px;
        }

        &__open,
        &__close {
            display: flex;
        }

        &__link {
            color: #fff;
        }
        &__login {
            margin: 30px 0 10px;
        }
    }

    .contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 100px;

        &__head {
            max-width: 445px;
            height: 160px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 25px;
        }

        &__text {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 767px) {
    .features {
        &__wrapper {
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }

        &__title {
            margin: auto;
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 32px;
        }
    }

    .header {
        &__title {
            margin: auto;
            margin-top: 80px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 50px;
            color: #fff;
        }

        &__subtitle {
            text-align: center;
            font-size: 18px;
            height: 80px;
            max-width: 500px;
            margin: auto;
            color: #fff;
        }

        &__button {
            margin: auto;
            margin-top: 25px;
            margin-bottom: 70px;
            width: 120px;
            height: 40px;
        }
    }

    .contact {
        margin-top: 50px;
        margin-bottom: 100px;

        &__head {
            max-width: 445px;
            height: 160px;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 25px;
        }

        &__text {
            font-size: 14px;
        }

        &__form {
            margin: 0;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
        }
    }

    .contact-form {
        &__input {
            flex-basis: 100%;
            height: 50px;
            padding: 30px;
            margin-bottom: 15px;
        }

        &__button {
            margin-top: 0;
        }
    }

    .contact-form-select {
        &__selection {
            width: 100%;
            height: 60px !important;
            padding: 15px 25px;
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        &__title {
            margin-top: 30px;
            margin-bottom: 15px;

            font-size: 30px;
            color: #fff;
        }

        &__subtitle {
            font-size: 14px;
            height: 80px;
        }

        &__button {
            margin-top: 15px;
            margin-bottom: 30px;
            width: 120px;
            height: 40px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            color: $rose;

            &:hover {
                color: rgb(34, 28, 88);
                border-color: rgb(34, 28, 88);
                transition: 0.2s linear;
            }
        }
    }

    .features {
        &__title {
            font-size: 25px;
        }
        &__wrapper {
            padding-bottom: 50px;
        }
    }

    .contact {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-bottom: 300px;

        &__head {
            max-width: 300px;
            height: 160px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &__title {
            font-size: 25px;
            margin-bottom: 15px;
        }

        &__text {
            font-size: 14px;
        }

        &-form {
            &__input {
                width: 255px;
                height: 30px;
                padding: 20px;
                border-radius: 6px;
                margin-bottom: 5px;
                border: 1px solid #333;
                box-sizing: border-box;

                &--tel {
                    width: 255px;
                    height: 40px;
                }
            }

            &__select {
                &__selection {
                    width: 255px;
                    height: 40px !important;
                    padding: 10px 25px;
                    border-radius: 6px;
                }

                &__dropdown {
                    background-color: #fff;
                    color: #000;
                    .select2-results {
                        &__option {
                            &--highlighted {
                                background-color: $rose !important;
                            }
                        }
                    }
                }
            }

            &__button {
                margin-top: 0;

                width: 160px;
                height: 40px;
                border: 1px solid #fff;
                border-radius: 5px;
                background-color: $rose;
                text-transform: uppercase;
                cursor: pointer;
                color: #fff;
            }
        }
    }
}
