@media screen and (max-width: 1023px) {
    .nav {
        &__wrapper {
            position: fixed;
            top: 0;
            right: 0;
            transform: translateX(100%);
            flex-direction: column-reverse;
            align-items: flex-start;
            width: 100%;
            max-width: 500px;
            padding: 20px;
            background-color: rgb(227, 95, 69);
            transition: transform 0.2s linear;
            

            &--is-active {
                transform: translateX(0);
                               
            }
        }

        &__menu {
            flex-direction: column;
        }
        
        &__toggle {
            display: flex;

            &--hide{
                background-color: rgb(230, 11, 11);
            }
                      
        }

        &__link {
            color:#fff;
                    }
        &__login{
            margin: 20px auto;
        }
    }

    .contact{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media screen and (max-width: 700px) {

    .features {
        &__wrapper {
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }
    }
}