@import "partials/mixins";
@import "partials/params";

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  auto 0;
    width: 100%;
    height: 100px;
    text-transform: uppercase;
    color: #ffff;
    
    &__logo {
        margin: auto;
        font-weight: bold;
        font-size: 22px;
        

        &__icon{
            width: 30px;
            height: 20px;
            margin: auto;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    &__toggle {
        display: none;
    }

    &__menu{
        @include clear-list;
        display: flex;
        justify-content: space-between;
        margin: auto;
        
    }

    &__item{
        margin: 0 10px;
        
        
    }

    &__link{
        color: #ffff;

        &:hover{
            color: rgb(34, 28, 88);
            transition: color 0.2s linear;
        }
    }

    &__login{
        margin: auto;
            }
      &-login{  
        
        &__icon{
            width: 30px;
            height: 20px;
        }

        &__button{
            margin-left: 20px;
            width: 100px;
            height: 40px;
            border: 1px solid #ffff;
            border-radius: 5px;
            background-color: transparent;
            text-transform: uppercase;
            color: #ffff;
            cursor: pointer;

            &:hover{
                color: rgb(34, 28, 88);
                border-color: rgb(34, 28, 88);
                transition:  0.2s linear;
            }
        }
        &__select{
            background-color: transparent;
            
        }


    }
}

.select2-container {
    width: auto !important;
}

.nav-login-select {
    &__selection {
        &.select2-selection {
            background-color:transparent;

            .select2-selection {
                &__rendered {
                    color: #fff;
                }
            }
        }
    }

    &__dropdown {
        .select2-results {
            &__option {
                &--highlighted {
                    background-color: green !important;
                }
            }
        }
    }
}

.selection{
    color: #ffff;
}

.select2-selection__rendered{
    color: #ffff;
}

.select2-container{
    background-color: transparent;
    color: #ffff;
}

.select2-results__options{
    background-color:transparent;
    
}

.select2-dropdown{
    background-color:transparent;
    width: 60px;
}
    
