@import "partials/mixins";
@import "partials/params";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  auto 0;
    width: 100%;
    height: 100px;
    text-transform: uppercase;
    color: #ffff;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    &__menu {
        @include clear-list;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-right: 20px;
    }

    &__link{
        color: #ffff;

        &:hover{
            color: rgb(34, 28, 88);
            transition: color 0.2s linear;
        }
    }

    &__login {
        margin: auto;
    }

    &__open {
        display: none;
    }

    &__close {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.nav-logo { 
    &__icon{
        width: 30px;
        height: 20px;
    }

    &__title {
        font-weight: bold;
        font-size: 22px;
        color: #ffffff;
    }
}

.nav-toggle {    
    &__icon {
        width: 30px;
        height: 30px;
        fill: #ffffff;
    }
}

.nav-login {
    &__button {
        margin-left: 20px;
        width: 100px;
        height: 30px;
        border: 1px solid #ffff;
        border-radius: 5px;
        background-color: transparent;
        text-transform: uppercase;
        color: #ffff;
        cursor: pointer;

        &:hover{
            color: rgb(34, 28, 88);
            border-color: rgb(34, 28, 88);
            transition:  0.2s linear;
        }
    }

    &__select{
        background-color: transparent;
        
    }
}

.select2-container {
    width: auto !important;
}

.nav-login-select {
    &__selection {
        &.select2-selection {
            background-color:transparent;

            .select2-selection {
                &__rendered {
                    color: #fff;
                }
            }
        }
    }

    &__dropdown {
        background-color:rgb(227, 95, 69);
        color: #fff;
        .select2-results {
            &__option {
                &--highlighted {
                    background-color: rgb(10, 36, 83) !important;
                    
                }
                &--selected{
                    color: rgb(16, 41, 2);
                    background-color: transparent;
                }
            }
        }
    }
}

